<div>
    <section class="jumbotron text-center my-hearder" >
        <div class="container">
            <h1 class="jumbotron-heading" style="padding-top: 30px;">ร้านค้า</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet,
                but not too short so folks don't simply skip over it entirely.</p>

        </div>
    </section>
    <div class="container">
        <app-row-product-show [namegroup]="'ช่อดอกไม้'"></app-row-product-show>
        <app-row-product-show [namegroup]="'พวงมาลัย'"></app-row-product-show>
    </div>
    
    

</div>