<div>
    <section class="jumbotron text-center my-hearder" >
        <div class="container">
            <h1 class="jumbotron-heading" style="padding-top: 30px;">ร้านดอกไม้โชติกา</h1>
            <p class="lead text-muted">ให้บริการรับจัดดอกไม้ในงานพิธีต่างๆ กระเช้าดอกไม้ ช้อดอกไม้ มาลัยงานบวช งานแต่ง งานศพ ด้วยดอกไม้ที่สดใหม่และมีคุณภาพ ราคาย่อมเยา และจัดส่งฟรี ภายในจังหวัดอยุธยาและอ่างทอง</p>

        </div>
    </section>
    <div class="container">

        <div  *ngFor="let group of productgroup " >
              <app-row-product-show [productgroup] = "group" ></app-row-product-show>
        </div>
        
        
    </div>
    
    

</div>