
  <div class="card cover-item" [routerLink] = "[ '../Detail-item' , { PID: obj.PID }]">  
    <img class="card-img-top"  lazyLoad={{obj.URL}} > 
        <div class="card-body">
      <h5 class="card-title ">{{obj.NAME}}</h5>
      <p class="card-text short-detail-product" style="font-size:12px;"> {{obj.DETAIL}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{obj.PRICE}}</li>
    </ul>
    <div class="card-body" style="text-align: center;">
        <button type="button" class="btn my-btn">BUY NOW</button>
    </div>
  </div>
