<div class="container" >
  <div class="my-contaner">
    <div class="title">
      แจ้งการชำระเงิน
    </div>
    <div class="my-form">
      <form>
        <div class="form-group ">
          <label for="odernumber">หมายเลขคำสั่งซื้อ</label>
          <input type="text" class="form-control" id="odernumber" autocomplete="off" placeholder="ใส่หมายเลขคำสั่งซื้อ">
        </div>
        <div class="form-group ">
          <label for="tellnumber">เบอร์โทรศัพท์</label>
          <input type="text" class="form-control" id="tellnumber" autocomplete="off" placeholder="ใส่เบอร์โทรศัพท์">
        </div>
        <div class="form-group ">
          <label for="banknumber">ธนาคารที่ชำระเงิน</label>
          <select class="form-control">
            <option>Default select</option>
            <option>Default select</option>
            <option>Default select</option>
          </select>
        </div>
        <div class="form-group ">
          <label for="price">จำนวนเงิน</label>
          <input type="text" class="form-control" id="price" autocomplete="off" placeholder="xxx,xxx">
        </div>
        <div class="form-group ">
          <label for="date">วันที่โอนเงิน</label>
          <input class="form-control" id="date" type="date" value="2011-08-19" id="date">
        </div>
        <div class="form-group ">
          <label for="time">เวลาโอนเงินโดยประมาณ</label>
          <input class="form-control" for="time" type="time" value="13:45:00" id="example-time-input">
        </div>
        <div class="form-group ">
          <label for="file">แนบรูปภาพ หรือ หลักฐานการโอนเงิน</label>
          <input type="file" class="form-control-file" id="file">
        </div>
        <div class="form-group ">
          <label for="comment">หมายเหตุ</label>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="button" class="btn my-btn">แจ้งชำระเงิน</button>
       

      </form>

    </div>
  </div>


</div>