<div class="container">
  <div class="my-container">

    <div class="text-header">
      รายระเอียดการติดต่อ
    </div>
    <div class="row" style="margin-bottom: 5px;">
      <div class="col-2 title">
        ที่อยู่ร้านดอกไม้โชติกา
      </div>
      <div style="cursor: pointer; " class="col-10 tel-number">
        2 ม.2 ต.บ้านกุ่ม อ.บางบาล จ.พระนครศรีอยุธยา 13250
      </div>

    </div>
    <div class="row" style="margin-bottom: 5px;">
      <div class="col-2 title">
        หมายเลขโทรศัพท์
      </div>
      <div class="col-10">
        <img src="../../../assets/img/call.png" class="myicon" style="margin-right: 5px;">
        <a href="tel:+66812672755" style="border-bottom: none" class="tel-number">081-2672755</a>
      </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-2 title">
          EMAIL
        </div>
        <div class="col-10">
            <span style="cursor: pointer;" class="tel-number">fiw.9897@gmail.com</span>
        </div>
      </div>
    <div class="row" style="margin-bottom: 5px;">
      <div class="col-2 title">
        LINE ID </div>
      <div class="col-10">
        <img src="../../../assets/img/line.png" class="myicon" style="margin-right: 5px;">
        <span style="cursor: pointer;" class="tel-number">@@@@FIW</span>
      </div>

    </div>




    <div class="title-map" >
      แผนที่ร้านดอกไม้โชติกา
    </div>
    <div class="my-map" style="margin: auto;">
      <iframe src="https://www.google.com/maps/d/embed?mid=1RoTh6AkIv59kECdH9VXr-lYemmLkNE_y" class="my-map"></iframe>
    </div>

    <div class="title-map" style="padding-top: 30px;  border-style:none">
       บัญชีธนาคาร
      </div>
      <div style="text-align: center;">
        <img  src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/bank.png" class="img-fluid"
        alt="Responsive image">
      </div>
      <div class="title" style="padding-top: 30px;  border-style:none">
        เลือกบัญชีที่ท่านสะดวกโอนเงินชำระค่าสินค้า ชื่อบัญชี
        <span style="color:rgb(70, 155, 70); margin-left: 5px; font-size: 22px;">"ร้านดอกไม้โชติกา"</span>
      </div>
      <div class="title">
        <li>
          ธนาคารกสิกรไทย สาขาโลตัส อยุธยา บัญชีออมทรัพย์ เลขที่บัญชี 043-1-65828-3
      </li>
      <li>
        ธนาคารออมสิน สาขาเจ้าพรหม บัญชีออมทรัพย์ เลขที่บัญชี 020-0-5598760-4
        </li>
      </div>






  </div>
</div>