<div class="container">
  <div class="bg-page ">

    <div class="row row-item" style="padding-left: 5px; margin-bottom: 10px;">
      <span class="title-grop">ชื่อกลุ่ม</span>

    </div>

    <div class="row row-item">
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
        <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
      </div>
    </div>
  </div>
</div>