<div class="row  bg-card-header">
  <label class="container-ckeck">One
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>
<div class="row  bg-card-item">
  <div class="col-8">
    <div class="myflex-card">
      <div class="myflex-card-img">
        <img class="card-img" style="height:80px; width:80px;" src="https://static.giulianaflores.com.br/images/product/26099g.jpg">
      </div>
      <div class="myflex-card-detail myflex-card-detail-text">
        <div class="myflex-card-detail-text" style="height:50px; ">
          asdsssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssdddddddddddddddddddddddddddddddddddddddssssssssssssssssssssssssssssss
        </div>
        <div class="myIcon-card-bin">
        </div>

      </div>
    </div>
  </div>
  <div class="col-2 myPrice-number">
    ฿1,049.00
  </div>
  <div class="col-2 my-count" >
    1
  </div>
</div>