<div class="container container-full" style="max-width: 940px;">

        <!--<div  class="d-flex flex-row align-items-center justify-content-center mycontainer-no-list">
                <button type="button" class="p-2 btn btn-outline-warning" routerLink="/">ไม่มีรายการสั่งซื้อ</button>
        </div>-->

        <div class="mycontainer-no-list" style="height: 100%;">

                <div class="title-table">
                        รายการคำสั่งซื้อ
                </div>

                <div>
                        <table class="table table-hover" style="margin: 0px; border-color: rgb(255, 255, 255); border-style: solid none none;">
                                <thead>

                                        <tr style="height: 50px; background-color: rgb(250, 250, 250);">
                                                <th scope="col" class="col-name col-first" style="width: 180px;  ">หมายเลขคำสั่งซื้อ</th>
                                                <th scope="col" class="col-name" style="width: 130px;">สั่งซื้อวันที่</th>
                                                <th scope="col" class="col-name" style="text-align: center;">รายการสินค้า</th>
                                                <th scope="col" class="col-name" style="width: 130px;">ยอดรวมทั้งสื้น</th>
                                                <th scope="col" class="col-name" style="width: 120px;"></th>
                                        </tr>
                                </thead>
                                <tbody *ngFor="let order of list_order; let i = index">
                                        <tr style="height: 80px;">
                                                <td class="col-first">{{order.order_number}}</td>
                                                <td>Otto</td>
                                                <td style="text-align: center;">
                                                        <button type="button" class="btn btn-dropdown dropdown-toggle" (click)="dropdownClick(i)">

                                                        </button>
                                                </td>
                                                <td>@mdo</td>
                                                <td>
                                                        <span class="mylink" routerLink="../Payment">แจ้งชำระเงิน</span>
                                                </td>
                                        </tr>

                                        <tr *ngFor="let item of order.list_item" class="row-img" id={{i}}{{item.id}}>
                                                <td class="col-firstd" colspan="5" style="  vertical-align: middle; padding-right: 20px; ">
                                                        <div class="row">
                                                                <div class="col" style="max-width: 110px;">
                                                                        <div class="myflex-card-img">
                                                                                <img class="card-img" style="height:80px; width:80px;" src="https://static.giulianaflores.com.br/images/product/26099g.jpg">
                                                                        </div>
                                                                </div>
                                                                <div class="col">
                                                                        <div style="display: table; height: 80px;">
                                                                                <div class="title-product">
                                                                                        {{item.test}}
                                                                                </div>
                                                                        </div>
                                                                </div>
                                                        </div>
                                                </td>

                                        </tr>




                                </tbody>

                        </table>
                </div>

        </div>



</div>