<div class="container">
  <div class=" my-container">


    <div class="head-page">
      วิธีสั่งซื้อสินค้า
    </div>
    <div class="title-page" style="padding-top: 30px;">
      ขั้นตอนการสั่งซื้อผ่านทางโทรศัพท์
    </div>
    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 1 โทรศัพย์สั่งซื้อสิ้นค้ากับทางร้านได้ทันที
    </div>

    <div class="list-howto">
      <li>สามารถเลือกแบบที่หน้าเว็บไซต์ จากนั้นโทรมาสั่งสินค้าที่ต้องการได้ที่เบอร์โทรศัพท์
        <a href="tel:+66812672755" style="border-bottom: none" class="tel-number">081-2672755</a>
      </li>
      <li>จัดส่งฟรี ทั่วจังหวัดพระนครศรีอยุยา และบางพื้นที่ใกล้เคียง หากให้จัดส่งนอกพื้นที่การจัดส่งจะมีค่าใช้จ่ายเพิ่มเติม</li>
    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 2 ชำระผ่านบัญชีธนาคาร
    </div>
    <div class="row" style="margin-top: 10px;">
      <div style="width: 100%; text-align: center;">
        <img (click)='onClickImg($event.target.src)' src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/bank.png" class="img-fluid"
          alt="Responsive image">
      </div>
    </div>
    <div class="title-page" style="padding-top: 30px;  border-style:none">
      เลือกบัญชีที่ท่านสะดวกโอนเงินชำระค่าสินค้า ชื่อบัญชี
      <span style="color:rgb(70, 155, 70); margin-left: 5px; font-size: 22px;">"ร้านดอกไม้โชติกา"</span>
    </div>
    <div class="list-howto">
      <li>
        ธนาคารกสิกรไทย สาขาโลตัส อยุธยา บัญชีออมทรัพย์ เลขที่บัญชี 043-1-65828-3
      </li>
      <li>
        ธนาคารออมสิน  สาขาเจ้าพรหม บัญชีออมทรัพย์ เลขที่บัญชี 020-0-5598760-4
      </li>
    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 3 ยืนยันการชำระเงิน
    </div>
    <div class="list-howto">
      หลังจากโอนเงินชำระค่าสินค้าแล้ว กรุณาโทรมาแจ้ง จำนวนเงิน วันและเวลาที่โอน
    </div>
    <div class="list-howto">
      ที่เบอโทรศัพท์
      <img src="../../../assets/img/call.png" class="myicon" style="margin-right: 5px;">
      <a href="tel:+66812672755" style="border-bottom: none" class="tel-number">081-2672755</a>
      หรือส่งหลักฐานการโอนเงินมาที่
      <img src="../../../assets/img/line.png" class="myicon"> LINE ID :
      <span style="cursor: pointer; " class="tel-number">@@@@FIW</span>
    </div>

    <div class="title-page" style="padding-top: 30px; margin-top: 10px;">
      ขั้นตอนการสั่งซื้อออนไลน์ ผ่านทางเว็ปไซด์
    </div>
    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 1 เลือกสินค้าที่ต้องการ
    </div>
    <div style="margin: 30px;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/1.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">
    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 2 กดที่ปุ่มตะกล้าสินค้าเพื่อตรวจสอบรายการสินค้า
    </div>
    <div style="text-align: center; margin: 30px;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/2.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">

    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 3 เช็ครายละเอียดของการสั่งซื้อสินค้า
    </div>
    <div class="list-howto">
      <li>
        ท่านสามารถเลือกเฉพาะสินค้าที่ต้องการชำละเงินได้ โดยระบบจะทำการคำนวนราคาให้
      </li>
      <li>
        ท่านสามารถลบสินค้าที่ไม่ต้องการออกจากตะกล้าสินค้าของท่านได้
      </li>
      <li>
        กดที่ปุ่ม "ดำเนินการชำระเงิน" เพื่อยืนยันการชำระเงิน
      </li>
    </div>
    <div style="text-align: center; margin: 30px;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/3.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">

    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 4 ยืนยันการชำระเงิน
    </div>
    <div class="list-howto">
      <li>
        กดที่ปุ่ม checkbox เพื่อยืนยันการชำระเงิน
      </li>
      <li>
        หลังจากกดที่ปุ่ม chexkbox ให้ทำการกดที่ปุ่ม "ยืนยันการชำระเงิน" เพื่อสิ้นสุดขั้นตอนการสั่งซื้อสินค้า
      </li>

    </div>
    <div style="margin: 30px;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/4.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">

    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 5 ตรวจสอบรายการสั่งซื้อสินค้า
    </div>
    <div class="list-howto">
      <li>
        ท่านสามารถตรวจสอบรายการสั่งซื้อสินค้าของท่าน
      </li>
      <li>
        ท่านสามารถแจ้งการชำระเงินได้จากการกดที่ปุ่ม "แจ้งการชำระเงิน"
      </li>

    </div>
    <div style="margin: 30px;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/5.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">

    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 6 ชำระผ่านบัญชีธนาคาร
    </div>
    <div style="text-align: center; margin-top: 10px;">
      <img (click)='onClickImg($event.target.src)' src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/bank.png" class="img-fluid"
        alt="Responsive image">
    </div>
    <div class="title-page" style="padding-top: 30px;  border-style:none">
      เลือกบัญชีที่ท่านสะดวกโอนเงินชำระค่าสินค้า ชื่อบัญชี
      <span style="color:rgb(70, 155, 70); margin-left: 5px; font-size: 22px;">"ร้านดอกไม้โชติกา"</span>
    </div>
    <div class="list-howto">
      <li>
        ธนาคารกสิกรไทย สาขาโลตัส อยุธยา บัญชีออมทรัพย์ เลขที่บัญชี 043-1-65828-3
      </li>
      <li>
        ธนาคารออมสิน  สาขาเจ้าพรหม บัญชีออมทรัพย์ เลขที่บัญชี 020-0-5598760-4
      </li>
    </div>

    <div class="title-page" style="padding-top: 30px;  border-style:none">
      ขั้นตอนที่ 7 แจ้งการชำระเงิน
    </div>


    <div style="text-align:  center;">
      <img src="https://angsila.cs.buu.ac.th/~57660113/webAPI/imgProject/6.png" (click)='onClickImg($event.target.src)' class="img-fluid"
        alt="Responsive image">

    </div>

    <div class="list-howto">
      <li>
        ให้ท่านกรอกข้อมูลต่างให้ครบถ่วน
      </li>
      <li>
        จากนั้นกดปุ่ม "แจ้งชำระเงิน"
      </li>
      <li>
        เมื่อท่านแจ้งชำระเงินสำเร็จแล้วทางร้านจะติดต่อกลับไปหาท่าน
      </li>
      <div class="list-howto">
        ท่านสามารถแจ้งการชำระเงินได้ โดยการโทรมาแจ้ง จำนวนเงิน วันและเวลาที่โอน
      </div>
      <div class="list-howto">
        ที่เบอโทรศัพท์
        <img src="../../../assets/img/call.png" class="myicon" style="margin-right: 5px;">
        <a href="tel:+66812672755" style="border-bottom: none" class="tel-number">081-2672755</a>
        หรือส่งหลักฐานการโอนเงินมาที่
        <img src="../../../assets/img/line.png" class="myicon"> LINE ID :
        <span style="cursor: pointer; " class="tel-number">@@@@FIW</span>
      </div>

    </div>
  </div>

  <div #modelImg class="w3-modal" onclick="this.style.display='none'" style="padding-top: 100px;">
    <div class="w3-modal-content w3-animate-zoom">
      <img #Imgshow style="width:100%">
    </div>
  </div>


</div>