<div class="container">
  <div class="bg-detail-page">
    <div class="container" *ngFor="let item of product ">
      <div class="row row-page">
        <div class="col" style="padding-top: 20px;">
          <div class="col-img-main">
            <img #imgmain class="img-main" src={{item.URLPROFILE}}>
          </div>

          <div class="row myrow-im-sm">

            <div class="col" (click)="nextImg()" style="padding: 0px; max-width: 32px;">
              <img class="imB-N" src="../../assets/img/prev.png">
            </div>
            <div class="col" style="padding: 0px; display: inline-block; ">
              <div class="scrollmenu" #scrollmenu>
                <div class="img-product-sm" (click)="changImg($event.target.src)" *ngFor="let img of item.URL">
                  <div class="block-img">
                    <img src={{img.URL}} style="max-width: 76px; max-height: 76px; ">
                  </div>
                </div>
              </div>
            </div>
            <div class="col" (click)="backImg()" style="padding: 0px; max-width: 32px;">
              <img class="imB-N" src="../../assets/img/next.png">
            </div>
          </div>

        </div>
        <div class="col">
          <div class="col-detail">
            <div class="my-title">{{item.NAME}}</div>
            <div class="my-detail">{{item.DETAIL}}</div>
            <div class="my-price">฿ {{item.PRICE}}</div>
            <button class="btn  my-btn" data-toggle="modal" data-target="#myModal"  (click)='addProduct()' >เพิ่มสินค้า</button>

          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content my-model">
        <div class="modal-body">
          <div style="margin-top: 15px; margin-bottom: 15px;">เพิ่มสินค้าเรียบร้อยแล้ว</div>
          <button class="btn  my-btn" style="width: 100%;" data-dismiss="modal" routerLink = "/Card" >ไปยังตะกล้าสินค้า</button>
        </div>
      </div>
    </div>
  </div>

</div>