<div class="container">
  <div class="row-reset-form">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8 title-reset">
        กรุณาระบุอีเมลข้างล่าง เราจะส่งลิงก์เพื่อรีเซ็ตรหัสผ่านไปยังอีเมลของท่าน
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8 form-group reset-form">
        <form [formGroup]='loginForm'>
          <label for="email" style="font-size: 16px; margin-bottom: 5px;">อีเมล</label>
          <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="กรุณาระบุอีเมล">
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <button class="myResetBt" (click)='resetPass()' >     
          <span  #loginText >ตกลง</span>
            <div class="lds-css ng-scope" style="width: 44px; margin-left: auto; margin-right: auto; display: none;" #loander>
              <div class="lds-spinner">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <span class=" mylink" routerLink="../Login">กลับ</span>
      </div>
    </div>
  </div>


  <div  #modelerror (click)='error_click()'  class="w3-modal" style=" background-color: rgba(0, 0, 0, 0) ">
    <div class=" my-model-content w3-modal-content">
      <div class="w3-container" style="padding: 0px">     
        <div style="padding: 0 16px 0 16px;">
          <img src="../../assets/img/icon-error.png" class="icon-error">
          <p style="margin: 10px 0 0 30px; color: red">อีเมลไม่ถูกต้อง</p>
          <p style="margin: 0 0 0 30px;">ไม่สามารถเปลี่ยนรหัสผ่านได้</p>
        </div>
      </div>
    </div>
  </div>

  <div  #modelcorrect (click)='error_click()'  class="w3-modal" style=" background-color: rgba(0, 0, 0, 0) ">
    <div class="my-model-content-correct w3-modal-content" >
      <div class="w3-container" style="padding: 0px">     
        <div style="padding: 0 16px 0 16px;">
          <img src="../../assets/img/icon-correct.png" class="icon-error">
          <p style="margin: 10px 0 0 30px; color: green">อีเมลถูกต้อง</p>
          <p style="margin: 0 0 0 30px;">ท่านสามารถเปลี่ยนรหัสผ่านโดยตรวจสอบข้อความทีอีเมลของท่าน</p>
        </div>
      </div>
    </div>
  </div>










</div>