.row-reset-form{  
    margin-top: 86px;  
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #FFF;
    padding: 40px 50px;
}
.title-reset{
    font-size: 16px; 
    margin-bottom: 30px;
}
.reset-form{
    width: 100%;
}

.myResetBt{      
    background-color: rgb(255, 117, 138);   
    border: none;
    color: rgb(51, 51, 51);    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0px 10px 0px;
    outline: none;
    padding: 0px;
    height: 44px;
  }
  .myResetBt:hover{
    background-color: #FFB6C1;
  }
  .mylink{
    font-size: 14px;
    color:rgb(54, 161, 211);
    cursor: pointer;  
    outline: none;  
  }
  .mylink:hover{
    text-decoration:underline ;
    color:rgb(132, 139, 67);     
  }
  input{
    border-radius: 1px; 
  }

  .my-model-content{
    position: relative;
    width: 235px; 
    height: 65px;  
    background-color: rgb(248, 225, 225);
    font-size: 14px;  
    border-width: 1px; 
    border-style: solid;
    border-color: red;  
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
 }
 .my-model-content-correct{
  position: relative;
  width: 235px; 
  height: 105px;  
  background-color: rgb(240, 248, 225);
  font-size: 14px;  
  border-width: 1px; 
  border-style: solid;
  border-color: green;  
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 1s;
 }
 .icon-error{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
}
label::after{
  content: "*";
  margin-left: 3px;
  color: red;
  font-size: 16px;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {transform: scale(0)}
  30%  {transform: scale(1)}
  60%  {transform: scale(0.95)}
  100%  {transform: scale(1)}
}
@keyframes example {
  0%   {transform: scale(0)}
  30%  {transform: scale(1)}
  60%  {transform: scale(0.95)}
  100%  {transform: scale(1)} 
}

  @media (max-width: 768px){
  .w3-modal {
      padding-top: 100px;
    }
  }
@media (max-width: 600px){
  .my-model-content{
    margin:  auto auto;
    width: 235px!important;
  }
  .my-model-content-correct{
    margin:  auto auto;
    width: 235px!important;
  }
}


 