.row-reset-form{  
    margin-top: 86px;  
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #FFF;
    padding: 40px 50px;
}
.title-reset{
    font-size: 16px; 
    margin-bottom: 30px;
}
.reset-form{
    width: 100%;
}

.myResetBt{      
    background-color: rgb(255, 117, 138);   
    border: none;
    color: rgb(51, 51, 51);
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    margin: 10px 0px 10px 0px;
    outline: none;
  }
  .myResetBt:hover{
    background-color: #FFB6C1;
  }
  .mylink{
    font-size: 14px;
    color:rgb(54, 161, 211);
    cursor: pointer;  
    outline: none;  
  }
  .mylink:hover{
    text-decoration:underline ;
    color:rgb(132, 139, 67);     
  }
  input{
    border-radius: 1px; 
  }

 