<div class="row-item" style="padding-bottom:0px; margin-bottom:30px; border-style:none ;">
  <div class="d-flex justify-content-between">
    <div class="p-2" style="margin-left: 10px;">
      {{namegroup}}
    </div>
    <button type="button" routerLink="Allproduct" class="btn  p-2 bt-showAll-product">ชมสินค้าทั้งหมด</button>

  </div>

  <!--Show Product-->
  <div class="row row-item">

    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col" style="padding: 0px;">
      <app-product-show-item [urlImg]="'https://static.giulianaflores.com.br/images/product/26099g.jpg'"></app-product-show-item>
    </div>



  </div>
</div>